._center {
    text-align: center;
}

._card {
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid black;

}

h1 {
    border-bottom: 2px solid gray;
    padding: 15px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

main {
    width: 1000px;
    display: flex;
    margin: auto;
}

.collection {
    min-width: 700px;
}

form {
    display: flex;
    flex-direction: column;
    
    input {
        margin: 8px 0 16px;
    }
}