._font {
    font-family: Arial, Helvetica, sans-serif;
}

._center {
    text-align: center;
}

._card {
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid gray;
}